Triez ce tableau par ordre alphabétique des prénoms.

Quel mot est formé par les 6 premières lettres de la colonne Code ?

In [10]:
import pandas as pd
data = pd.read_csv('./data/prenoms.csv')
data

          Prénom Code
0        Jasmine    u
1          Chloe    z
2          Jesse    g
3        Calista    s
4           Dana    i
..           ...  ...
106        Megan    f
107  Anne-Sophie    l
108          Lee    y
109        Wyatt    k
110        Zahir    t

[111 rows x 2 columns]

In [11]:
data.sort_values(by='Prénom', ascending=True)
data_sort= data.sort_values(by='Prénom', ascending=True)

In [12]:
result = ""
for i in range(6) : 
  result += data_sort["Code"].iloc[i]
print(result)

fraise